#linear-gauge {

  width: 100%;
  height: 100%;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 30%; /* aspect ratio */
    vertical-align: bottom;
    overflow: hidden;
  
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    maring-top: 30px;
    left: 0;
}

svg text{
font-size: 1.2em;
font-family: sans-serif;
}